@media screen and (max-width: 1350px) {
  #page-container {
    margin-left: 8rem;
  }

  aside {
    margin-left: 912px;
  }
}

@media screen and (max-width: 1150px) {
  #page-container {
    margin-left: 1rem;
  }

  aside {
    margin-left: 800px;
  }
}

@media screen and (max-width: 1050px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  /* Navbar */
  #navbar-showcase {
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
  }

  #search {
    display: none;
  }

  /* Story container */
  #chevron-left {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    top: 40%;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 1px 1px 4px rgb(105, 103, 103);
  }

  #chevron-right {
    height: 30px;
    width: 30px;
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0;
    z-index: 1;
    opacity: 0.8;
    box-shadow: 1px 1px 4px rgb(105, 103, 103);
  }

  #chevron-style {
    font-size: 16px;
    z-index: 0;
  }

  #page-container ul li {
    padding: 8px;
  }

  #page-container ul li img {
    width: 60px;
    height: 60px;
  }

  /* Post */
  #post {
    position: absolute;
    margin-top: 40px;
    border: none;
    width: 515px;
    border-radius: 5px;
  }

  .post-comments button {
    padding-right: 7px;
  }
}
