@media screen and (max-width: 1350px) {
  #story-container {
    margin-left: 8rem;
  }

  aside {
    margin-left: 912px;
  }
}

@media screen and (max-width: 1150px) {
  #story-container {
    margin-left: 1rem;
  }

  aside {
    margin-left: 800px;
  }
}

@media screen and (max-width: 1050px) {
  aside {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #story-container {
    border: none;
  }

  #chevron {
    height: 20px;
    width: 20px;
  }

  #chevron-style {
    font-size: 15px;
  }

  #search {
    display: none;
  }
}
